**/obj/
**/bin/
**/node_modules/
**/.vs/TMCWD.slnx/FileContentIndex/
**/.vs/TMCWD.slnx/DesignTimeBuild/
**/.vs/TMCWD/CopilotIndices/
**/.vs/ProjectEvaluation/
**/package-lock.json
.vs/TMCWD.slnx/v18/.futdcache.v2
.vs/TMCWD.slnx/v18/.suo
